In [ ]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler
from sklearn.metrics import r2_score, mean_squared_error
from sklearn.ensemble import RandomForestRegressor
import seaborn as sns

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/Data/X_test.csv')

In [ ]:
df.head(n=20)

,playerId,Name,Sex,Equipment,Age,BodyweightKg,BestSquatKg,BestDeadliftKg
0,2308.0,Peter Neeves,M,Wraps,30.0,89.81,179.17,192.78
1,22404.0,Josh Padilla,M,Raw,27.0,74.95,125.00,165.00
2,23397.0,Luke Dreier,M,Wraps,30.0,122.61,290.00,317.50
3,25058.0,Jacob New,M,Raw,20.0,88.00,187.50,240.00
4,2664.0,Jesse Burdick,M,Wraps,30.0,122.00,235.01,275.01
5,8511.0,Jake Minnis,M,Raw,25.0,67.00,185.00,190.00
6,5148.0,Michelle Paquette,F,Raw,30.0,58.80,102.50,147.50
7,7790.0,Laura Lay,F,Raw,32.0,62.40,80.00,105.00
8,11311.0,Jared O'Grady,M,Wraps,39.0,52.00,120.00,172.50
9,19043.0,Adrian Solana Guerrero,M,Single-ply,22.5,91.62,250.00,290.00
10,10784.0,Robert Lee,M,Wraps,37.0,138.25,272.50,245.00
11,22246.0,Marc Giguere,M,Raw,48.0,81.92,125.00,170.00
12,3268.0,Wade Jenkins,M,Wraps,NaN,99.20,197.50,245.00
13,15947.0,Taz Cox,M,Wraps,25.0,98.00,235.00,225.00
14,14977.0,Linh Vu,M,Raw,31.5,72.25,190.00,240.00
15,14474.0,Shane Brinker,M,Raw,24.5,82.30,202.50,237.50
16,28694.0,Eric Sloan,M,Single-ply,27.5,85.50,205.00,247.50
17,14054.0,Darko LazareviÄ‡,M,Wraps,34.5,107.10,285.00,280.00
18,26545.0,Cliff Privetera,M,Raw,46.0,113.26,260.00,260.00
19,14980.0,David Garza,M,Raw,18.5,97.40,272.50,227.50

In [ ]:
print(df.isnull().sum())

playerId            0
Name                0
Sex                 0
Equipment           0
Age               245
BodyweightKg        0
BestSquatKg         0
BestDeadliftKg      0
dtype: int64

In [ ]:
df['Age'] = df['Age'].fillna(df['Age'].mean())  # to fill the NULL values with mean of df['age']

In [ ]:
df['Sex'] = df['Sex'].replace(['M','F'],['1','0'])
df = pd.get_dummies(df, prefix=['Equipment'], columns=['Equipment'])

scaler = MinMaxScaler() 
df[['Age', 'BodyweightKg', 'BestSquatKg','BestDeadliftKg']] = scaler.fit_transform(df[['Age', 'BodyweightKg', 'BestSquatKg','BestDeadliftKg']])

In [ ]:
df

,playerId,Name,Sex,Age,BodyweightKg,BestSquatKg,BestDeadliftKg,Equipment_Multi-ply,Equipment_Raw,Equipment_Single-ply,Equipment_Wraps
0,2308.0,Peter Neeves,1,0.265432,0.301008,0.310291,0.424223,0,0,0,1
1,22404.0,Josh Padilla,1,0.228395,0.232936,0.204690,0.353982,0,1,0,0
2,23397.0,Luke Dreier,1,0.265432,0.451260,0.526347,0.739570,0,0,0,1
3,25058.0,Jacob New,1,0.141975,0.292716,0.326530,0.543616,0,1,0,0
4,2664.0,Jesse Burdick,1,0.265432,0.448465,0.419147,0.632137,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...
11095,3104.0,Dimitrios Rallis,1,0.240741,0.339441,0.487358,0.733249,0,0,0,1
11096,10239.0,Amber Skewes,0,0.339506,0.158956,0.141334,0.284450,0,1,0,0
11097,29044.0,Brandon Mose,1,0.172840,0.268071,0.448369,0.723135,0,1,0,0
11098,29947.0,Missy Lavoie,0,0.240741,0.229959,0.165702,0.322377,0,0,0,1
11099,1647.0,Alexandra Dahlgren,0,0.166667,0.145213,0.165702,0.303413,0,1,0,0

In [ ]:
X = df[['Sex','Age','BodyweightKg','BestSquatKg','Equipment_Multi-ply','Equipment_Raw','Equipment_Single-ply','Equipment_Wraps']]
y = df['BestDeadliftKg']  #label

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [ ]:
model = RandomForestRegressor(random_state=42)
model.fit(X_train, y_train)

RandomForestRegressor(random_state=42)

In [ ]:
pred = model.predict(X_test)

In [ ]:
pred

array([0.27402528, 0.350467  , 0.21731226, ..., 0.5593421 , 0.47113578,
       0.25613451])

In [ ]:
print("r2_score : ", r2_score(y_test, pred))
print("mse : ", mean_squared_error(y_test, pred))
print("rmse : ", np.sqrt(mean_squared_error(y_test, pred)))

r2_score :  0.8676328279974501
mse :  0.0032532431005117975
rmse :  0.05703720803573574

In [ ]:
y_test

2483    0.265487
1498    0.360303
5438    0.202276
7317    0.297092
6380    0.594185
          ...
227     0.442478
7585    0.221239
8224    0.600506
8543    0.581542
1508    0.246523
Name: BestDeadliftKg, Length: 2220, dtype: float64